* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

*:focus {
  outline: 0;
}

html, body, #root {
  height: 100%;
}

body {
  background: #f0ebf8;
  -webkit-font-smoothig: antialiased;
}

body, input, button {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 500;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}
